[2021-11-19 17:43] pjdohertygis commented on #99
@IsmaelInRedlands mentioned that this is a reasonable enhancement. Allow the author to configure which questions require "map validation".

[2021-11-19 17:43] #94 closed

[2021-11-19 17:56] pjdohertygis commented on #101
@IsmaelInRedlands we are still hitting issues with keyboards in Survey123... any updates on this?

When they are doing typing in a comment, they click on the checkmark because they *think* this will close the keyboard. But that checkmark is to submit a survey. Then there is no obvious way to close the keyboard other than swiping (or on Android there is a tiny carat to close the keyboard)

![image]

[2021-11-19 20:04] IsmaelInRedlands commented on #101
@pjdohertygis  I do not think we can fix this as the keyboard is provided by the operating system. Let me ask around and see if I find a more creative mind to come up with a solution.

[2021-11-19 21:24] pjdohertygis opened #179 "Survey123: Rescued - Person Count limited to 2 digits"
VA-TF1 pointed out that the person count for human interactions is limited to 2 digits. If there was a nursing home with 102 people, they wouldn't be able to use this.

I recommend we change to 3 digits.

[2021-11-20 18:52] pjdohertygis commented on #148
I have added this to the NAPSG Sandbox now as well, also included the syntax for the inbox to show the unique ID on the 2nd line
if(${followup_status}='assigned',concat("<b><font color='gold'>",${usng}, " ", "Type: ", ${waypoint}, " ", ${PointID},"</font></font>"),if(${followup_status}='needs_followup',concat("<b><font color='red'>",${usng}, " ", "Type: ", ${waypoint}," ", ${PointID},"</font></fon

[2021-11-20 18:57] pjdohertygis opened #180 "[ENH] QuickCapture: Add UUID / Point ID for waypoints."
We would like to have the capability to generate a unique ID for our point data in QuickCapture. Is there a way to do this now with QuickCapture? I don't think it would need to be visible at the time of entry in the field, but we would want to have it in the feature layer so we can continue to have a unique identifier for each waypoint created (whether in Survey123 or QuickCapture)

See this imple

[2021-11-22 21:18] xiao8579 commented on #180
Hi @pjdohertygis This will be added as an enhancement in QuickCapture for the next release.

[2021-11-23 15:09] pjdohertygis commented on #102
We worked around by providing a link instead of embedding the graphic.

[2021-11-23 15:09] #102 closed

[2021-11-23 15:11] pjdohertygis commented on #107
Addressed with v1.11 - we still recommend airplane mode if working in comms limited environment.

[2021-11-23 15:11] #107 closed

[2021-11-23 15:15] pjdohertygis commented on #109
Added to Planner for investigation.

[2021-11-23 15:16] pjdohertygis commented on #110
We have now implemented this with Survey123. We still need to test with QuickCapture.

We are also interested investigating web hooks directly on the REST service.

[2021-11-23 15:24] pjdohertygis commented on #111
We are addressing this through our NSARGC Governance. We do have an "External Dashboard" and it is shared into this group. https://fema.maps.arcgis.com/home/group.html?id=300e4e47230c4c4f9098c3a0c486b5ba

[2021-11-23 15:24] #111 closed

[2021-11-23 15:25] pjdohertygis commented on #113
Will revisit v10

[2021-11-23 15:25] #113 closed

[2021-11-23 15:27] pjdohertygis commented on #116
The group consensus is.... don't change the symbols or the terminology.

[2021-11-23 15:27] #116 closed

[2021-11-23 15:28] pjdohertygis commented on #118
This would only work if we put devices on the dogs. Revisit if this becomes a viable option.

[2021-11-23 15:28] #118 closed

[2021-11-23 15:30] pjdohertygis commented on #119
Fixed

[2021-11-23 15:30] #119 closed

[2021-11-23 15:33] pjdohertygis commented on #120
Added to Planner Board - we will be testing this over the winter.

[2021-11-23 15:37] pjdohertygis commented on #121
There has been no further request on this item. We have a prototype in the FEMA org but this has not been requested to be put in use by the Advisory Org - closing for now.

Link: https://arcg.is/0bHPiG

[2021-11-23 15:37] #121 closed

[2021-11-23 15:43] pjdohertygis commented on #123
We are experimenting with the new .csv download from Dashboards to assist with this. If it is working well we will need to add to the training slides and video!
![image](https://user-images.githubusercontent.com/4256979/143055858-f5b40f69-41f5-4f78-af46-321799e6ef98.png)

[2021-11-23 15:47] pjdohertygis commented on #124
Really cool idea, but not practical for TF to use the segment layer for entry.

[2021-11-23 15:47] #124 closed

[2021-11-23 16:56] pjdohertygis commented on #126
Implemented and continuing to build on this as part of a larger project - In Planner.

[2021-11-23 16:56] #126 closed

[2021-11-23 16:59] pjdohertygis commented on #128
It sounds like there are multiple causes for this behavior.
- Bug: Specific to Android Pixel - resolved.
- Stationary Android / Background location - open issue, will update here when addressed. @JohnHasthorpe

[2021-11-23 17:02] pjdohertygis commented on #130
Fixed v1.10

[2021-11-23 17:02] #130 closed

[2021-11-23 17:04] pjdohertygis commented on #132
@IsmaelInRedlands @xiao8579  this was fixed in v1.10 correct?

[2021-11-23 17:18] jdokemaps commented on #133
We removed the constraint to only have one person per waypoint for Victim Confirmed and Human Remains Confirmed. The person count still defaults to 1 but can be increased as necessary. This leaves the choice with the Task Force on how to deal with it.

[2021-11-23 17:20] pjdohertygis commented on #134
We have added this into Planner to work on this winter - by the way this looks awesome @CLivingstone

[2021-11-23 17:23] pjdohertygis commented on #135
This is a capability we can leverage on specific incidents in conjunction with Field Data Rules of Engagement, but it is difficult to "templatize" not knowing all scenarios that could come up (mass fatality incident, teams that did not download Survey123).

[2021-11-23 17:25] pjdohertygis commented on #136
Partially implemented, but only will work when accessing Survey123 from QuickCapture.

[2021-11-23 17:25] #136 closed

[2021-11-23 17:27] pjdohertygis commented on #138
Let's discuss revising the Sandbox vs. Deployment approach this winter. We need to consider that there are now both FEMA and SUSAR Task Forces using the system.

[2021-11-23 17:30] pjdohertygis commented on #139
Fixed with v3.13 unless @grover556 you can replicate?

[2021-11-23 17:30] #139 closed

[2021-11-23 17:33] pjdohertygis commented on #140
Let's raise with the Cadre this winter, in particular USA-1 and USA-2.

[2021-11-23 17:35] pjdohertygis commented on #141
@afackler any major updates on our Jupyter approach?

[2021-11-23 17:40] pjdohertygis commented on #142
We checked tracklog layer for both FEMA and NAPSG and only see one shape field. We will check next time we make an archive to see if that causes it. Closing for now.

[2021-11-23 17:40] #142 closed

[2021-11-23 17:41] pjdohertygis commented on #143
Unable to replicate...

[2021-11-23 17:41] #143 closed

[2021-11-23 17:46] afackler commented on #141
I did find a workaround for the issue of the data not moving to the desired folder and implemented it into the USAR archive script a while back. After testing with the sandbox data, the script works well with the workaround with little changes overall. Otherwise no other major updates on the tech end. As for sharing the script, I am working on getting the code into a public repository to share out

[2021-11-23 17:51] pjdohertygis commented on #144
I tried the this suggestion above @avezina and it does not appear to have resolved the issue. I'll show you later...

[2021-11-23 17:54] pjdohertygis commented on #123
Merge with https://github.com/pjdohertygis/WideAreaSearchTemplates/issues/145

[2021-11-23 17:54] #123 closed

[2021-11-23 17:54] pjdohertygis commented on #145
Merge with https://github.com/pjdohertygis/WideAreaSearchTemplates/issues/123

We will update training slides and video with Strategic Dashboard approach.

[2021-11-23 17:56] pjdohertygis commented on #146
Let's merge this idea with the overall "PII Project"

[2021-11-23 17:56] #146 closed

[2021-11-23 18:07] pjdohertygis commented on #147
This would be better driven by tracklogs vs segments, because a segment might only be searched where people live / roads are present.

Ideally we could have a chart that shows miles per search type - however it looks like we cannot use Arcade derived variables in Dashboard (yet) so it would have to be in SHAPE_LENGTH units.

@afackler any ideas on how to accomplish this?

[2021-11-23 18:13] pjdohertygis commented on #150
It looks like our current v8 waypoint layer does not have Z enabled so we cannot easily implement the Shape approach.

![image](https://user-images.githubusercontent.com/4256979/143080754-94d96f01-9719-4cfe-affa-27f6ef0181ef.png)

Let's continue the discussion on this within the Cadre.

[2021-11-23 18:15] pjdohertygis commented on #151
@grover556 I believe I have seen this issue but it is not consistent. Let's ask Tim NY-TF1or Esri if they are seeing this too.

[2021-11-23 18:17] pjdohertygis commented on #152
Let's revisit this with the redesign of ExBuilder.

[2021-11-23 18:24] pjdohertygis commented on #154
@IsmaelInRedlands @grover556 I'll pretend to know what you are talking about above... is this resolved?

[2021-11-23 18:48] IsmaelInRedlands commented on #154
This should be resolved now. No need to use Beta. @pjdohertygis

[2021-11-23 18:55] IsmaelInRedlands commented on #132
This should be fixed.
There is no way for the app to know if the app was closed or crashed. For this reason, data will be captured until the point when the app is closed. Data will be sent according to the auto-send rules you have setup.

[2021-11-23 18:59] grover556 commented on #154
I can confirm that this has been resolved

[2021-11-23 19:00] #154 closed

[2021-11-23 19:52] pjdohertygis commented on #155
It sounds like this is a known issue @IsmaelInRedlands? Is there a bug / enhancement number I should paste in here and track?

[2021-11-23 19:53] pjdohertygis commented on #132
Thank you @IsmaelInRedlands !

[2021-11-23 19:53] #132 closed

[2021-11-23 19:53] pjdohertygis commented on #141
Ok sounds good - I'll go ahead and close this!

[2021-11-23 19:53] #141 closed

[2021-11-23 19:54] #133 closed

[2021-11-23 19:57] pjdohertygis commented on #156
Checked both the Sandbox and Deployment and both have geodetic set on the feature layer,

[2021-11-23 19:57] #156 closed

[2021-11-23 19:59] pjdohertygis commented on #157
We are going to revisit this with Field Maps. Using the Sent folder vs Inbox has pros and cons, so far Inbox provides a bigger benefit. Closing this issue for now.

[2021-11-23 19:59] #157 closed

[2021-11-23 19:59] pjdohertygis commented on #153
Closing unless this pops up again.

[2021-11-23 19:59] #153 closed

[2021-11-23 20:00] pjdohertygis commented on #159
Fixed with v1.11

[2021-11-23 20:00] #159 closed

[2021-11-23 20:02] pjdohertygis commented on #160
Added to Planner Task RE: Governance

[2021-11-23 20:02] pjdohertygis commented on #161
Implemented in Deployment.

[2021-11-23 20:02] #161 closed

[2021-11-23 20:55] pjdohertygis commented on #163
I am thinking of using something like...

![image](https://user-images.githubusercontent.com/4256979/143116896-aeb26cca-894c-43af-9e43-7d8d588e8cbb.png)

@afackler - think it would be possible to do a "Xh Ym ago") label to my expression?

![image](https://user-images.githubusercontent.com/4256979/143118005-1fd79af0-f2cf-42de-9ba4-8ca710c80fbf.png)

[2021-11-23 21:32] pjdohertygis commented on #163
Symbology to test...

Blue person icon under Public Safety set, size 24
![image](https://user-images.githubusercontent.com/4256979/143132287-f995ffc1-4724-4a7a-9c3b-d0a37797da9b.png)

Label
- Filter for Location Update
- Custom expression
- Label Style

Filter
![image](https://user-images.githubusercontent.com/4256979/143132563-4413626e-5b34-415f-98ac-31f4bb8ad49b.png)

Expression
var Team = $feat

[2021-11-23 21:42] pjdohertygis commented on #164
As per MO-TF1 testing, this has been implemented and working well. We will want to make sure we point this out to users / add to the training videos?

[2021-11-23 21:45] pjdohertygis commented on #170
Please test out this prototype hosted from NAPSG org https://arcg.is/iDC01

This is based on feedback from the Advisory Group.

[2021-11-23 22:18] #164 closed

[2021-11-23 22:29] pjdohertygis commented on #162
@afackler let's check all the feature layers to make sure squad id aliases match (don't worry about field names for now, we don't want to introduce any breaking changes).

[2021-11-23 22:32] pjdohertygis commented on #166
@xiao8579 do you anticipate this will be fixed with v1.12 or 1.13?

[2021-11-23 22:36] xiao8579 commented on #166
@pjdohertygis this is not in 1.12. But will take a look in 1.13 and we may reach out back to you to verify the design before we implement it.

[2021-11-23 22:37] pjdohertygis commented on #167
Added to Planner.

[2021-11-23 22:39] pjdohertygis commented on #168
Added to Planner.

[2021-11-23 22:41] pjdohertygis commented on #169
I've taken this as far as I can so far and will need help from Esri to find out what else is possible. Anyone else testing this out on their end?

[2021-11-23 22:42] pjdohertygis commented on #170
Added to Planner.

[2021-11-23 22:43] pjdohertygis commented on #171
Anyone else interested in testing out this approach? Is it feasible?

[2021-11-23 22:44] pjdohertygis commented on #172
This has been added to Planner as part of a large project.

[2021-11-23 22:45] pjdohertygis commented on #172
Flagler County, FL may be able to help us test this approach.

[2021-11-23 22:51] pjdohertygis commented on #173
Added to Planner.

[2021-11-23 22:52] pjdohertygis commented on #174
Let's discuss and revisit with the Cadre

[2021-11-23 23:01] pjdohertygis commented on #176
Let's bring up with Esri Field Maps Team next time we get to talk to them.

[2021-11-23 23:03] pjdohertygis commented on #179
@afackler can you dig into this? I think there might have been a technical reason why this was limited to two characters but neither Jared or I remember why...

[2021-11-24 15:07] pjdohertygis opened #181 "Search Segments: Add Category for "Search Not Required""
In Hurricane Ida there were many neighborhoods within assigned Divisions that were not searched because the AHJ expressed that this area did not need US&R assistance. This might have been documented in a 214, but it was not easily seen by the BoO, EOC, etc.

Ideally, we could document those conversations with the AHJ visually on a map so that they can be identified and excluded from our search pro

[2021-11-24 17:30] pjdohertygis opened #182 "Web Map: Waypoint display order"
@afackler can you do some testing to see if this works well?

Ideally all human related waypoints would show up on top. It looks likes we can only sort by numeric fields. Would person count work?

Doc: https://www.esri.com/arcgis-blog/products/arcgis-online/mapping/overlapping-features-feature-display-order-is-here-to-help/

Testing with the https://napsg.maps.arcgis.com/apps/mapviewer/index.html?

[2021-11-24 18:50] pjdohertygis commented on #165
@xiao8579 will the ability to use the offline map cache when editing point locations make it into v1.12 or 1.13?

[2021-11-29 15:25] pjdohertygis opened #183 "Peer-to-Peer basemap sharing"
We need some testers to help us out with testing distributed sharing of Basemaps from to phone to phone via AirDrop and Nearby Share. In addition these might be good workflows for quickly sharing tpk / mmpk with drone imagery onto devices.

Field Maps with iOS: https://www.esri.com/arcgis-blog/products/collector/field-mobility/speed-up-offline-collector-deployments-using-sideloaded-basemaps/

Surv

[2021-11-30 00:07] xiao8579 commented on #165
@pjdohertygis we will evaluate that too for v1.13

[2021-11-30 17:42] afackler commented on #109
I tested the CSV list for S123 and it works as expected. I just followed Ismael's steps, though he's right you need Connect/ app version 3.12 or higher for this to work (I was using 3.13). The CSV downloads with the survey and automatically redownloads when you open the form if changes have been made to the CSV on AGOL. With this, you don't have to republish the whole survey if you want to add or

[2021-11-30 23:35] pjdohertygis commented on #109
Nice work @afackler!

- Parity with QuickCapture?
- Could the Team Name question be filled in the background based on their login so it is one less question for them to answer?

[2021-12-02 02:05] pjdohertygis commented on #170
Phil from Esri sent a detailed email about Z-values in Survey123 and how these need to be enabled in advance with Survey123 Connect etc.

However - he did put together a bare bones (ignore the attributes) proof of concept for editing floors in the Web Scene.
https://www.arcgis.com/home/webscene/viewer.html?webscene=d41a82263e59486bab299d00c6b0df3f&viewpoint=cam:-80.11975345,25.87328127,68.468;261.

[2021-12-02 02:09] pjdohertygis opened #184 "MS Teams Channel and Embedded Apps"
Real-world Problem: US&R Task Forces often rely on instant messaging and radio to communicate status AND location.
Technical Problem: ArcGIS Online on it's own does not have a chat capability.
Solution: Integrate MS Teams and ArcGIS Online? (alternative to ArcGIS Mission)

Here is a short video Jared and I made to demonstrate the proof of concept
https://screencast-o-matic.com/watch/crlV0xVISH9

!

[2021-12-02 13:51] pjdohertygis opened #185 "MS Teams: Embedded Dashboard within an Embedded Experience Builder within an Embedded MS Teams"
We are hitting an issue with a secure Dashboard, embedded in Experience Builder. When that is embedded within Teams as a website, it prompts for login, but when you go to login it takes you out to the browser. Then when you come back to Teams you get the following error message.

ExBuilder Page https://experience.arcgis.com/experience/9051a07ffd1947bbb395e9f9b4088f85/page/page_10/
Dashboard https:

[2021-12-02 13:52] pjdohertygis commented on #185
@afackler can you reproduce this issue and report to Esri Support? You can probably just share this GitHub issue with them. Low Priority.

[2021-12-02 17:14] afackler commented on #179
Looks like the D0 in the Body Esri Input Mask field for that question is preventing more than 2 characters. I asked Jared about it and he said it was to prevent negative numbers to be put in. However, I found if you put another 0 in, making it D00, you can have 3 characters and no negatives. I implemented this into the sandbox earlier today.

[2021-12-02 20:12] pjdohertygis commented on #179
Let's keep an eye on usability issues with the two blank spaces but I will close this issue for now.

[2021-12-02 20:13] #179 closed

[2021-12-06 15:35] afackler commented on #162
Should we use Squad ID or Team Squad? Looks like Team Squad is used in the tracklog and segments, then Squad ID in the waypoints.

[2021-12-06 15:50] pjdohertygis commented on #162
Let's go with Squad ID since that is more intuitive.

On Mon, Dec 6, 2021 at 7:35 AM Adam Fackler ***@***.***>
wrote:

--

Paul J. Doherty, PhD

[2021-12-06 20:57] pjdohertygis opened #186 "One Waypoint, Many Observations"
Jason from MO-TF1 raised the topic "One Waypoint, Many Observations". The idea being if you are at a structure, could you simply add on waypoint for that building, then add information for

- Human Interactions (Rescue, Victims / HR, etc)
- Damage
- Hazards
- Other

That one entry would capture all the pertinent information for all 4 waypoints and presumably fill out a search marking symbol.

Exam

[2021-12-06 21:25] jwarzinik commented on #186
The part of WASP that we don't have yet is a way to digitally document the info from the structure search marking sticker that we leave behind.   I will try to dig into the ATAK DB and see if I can see the schema they are using for storage.

![20211206_150926](https://user-images.githubusercontent.com/91565740/144924574-3f331b3b-2047-4e68-ac25-b6aaea445bb0.jpg)

[2021-12-06 21:50] grover556 commented on #162
How many digits will the squad ID field allow?

[2021-12-06 22:39] pjdohertygis commented on #162
Right now it looks like the input mask is limited to two digits. @grover556 do you think this should be bumped up three?

[2021-12-06 22:47] grover556 commented on #162
I'd like to see three digits if we can

[2021-12-06 23:24] pjdohertygis commented on #162
@afackler Can you please update the input mask for Survey123 and QuickCapture to allow for 3 digit squad id?

[2021-12-08 04:51] pjdohertygis commented on #110
@afackler It looks like we might be able to use the Custom MS Flow Connector send messages to Telegram
https://www.linkedin.com/pulse/custom-ms-flow-connector-telegram-example-elizabeth-akinfieva/

We'd need a solid strategy for this - like "When a Survey123 / QuickCapture comes in that is both Needs Follow-up and Critical to Life Safety - send a message to Telegram with a link to open the waypoin

[2021-12-09 23:47] pjdohertygis commented on #134
Here is an example configuration ---

The pages appear on the left and the sections are tabs across the top. So we think the Pages will be listed by "Role" and the Sections will be "Tools".

![image](https://user-images.githubusercontent.com/4256979/145493246-decd6efe-832b-447e-9a0a-7270ce5a8926.png)

[2021-12-10 22:24] pjdohertygis commented on #162
Implemented in Sandbox and Deployment, including 3 Digits for Squad Number (1-999).

[2021-12-10 22:24] #162 closed

[2021-12-15 13:18] grover556 opened #187 "[ENH] QuickCapture: Map Feature Request - Layer list"
Had a few people from OH-TF1 requesting the ability to toggle layer visibility in QuickCapture. It is difficult to identify/read the segment layer label when there are lots of point features in and around.

[2021-12-17 18:09] grover556 opened #188 "Targeted Search taskings"
On the last deployment, we had a large queue of buildings needing secondary K9 searches. In lieu of TFs not officially being able to edit in Field Maps, I propose splitting Targeted Search into two: Target Search Task (TST), and Target Search Clear (TSC). Target Search Task's QC question would be the type of search requested: "K9 LF" "K9 HRD" "Search Cam" "Other", which will populate the notes fie

[2021-12-17 18:18] grover556 opened #189 "Field Maps: Clean-up Popups"
The popups in Field Maps need to be cleaned up a little bit. One problem, in limited connectivity is that Field Maps presents a large error icon when the popup's attribute expressions aren't able to be calculated (building count, acreage, completed buildings, etc). Works fine at home with cell coverage, but not the best out in areas with limited connectivity.

Also, I think we can clean up the poi

[2021-12-17 18:30] grover556 opened #190 "[ENH] - Segment layer Team Name"
The "Task Force & Squad List (Resources Assigned)" is a little undefined. The team_name field should be limited to one team, ideally with drop-down selection with an "Other" field just like the Team selection in QuickCapture. The resources assigned field can be free text where we list the teams/squads assigned, even though that's what I use the team_squad field for. Not sure if other teams are ass

[2021-12-22 20:58] pjdohertygis commented on #133
FYI with regards to QuickCapture, I turned off comments and switched all human interactions to person count for button user input. The comments will say "Entered with QuickCapture - add comments later". This will reduce the likelihood of PII entering the system and allow them to more quickly enter data. We can use the rules of engagement and linked buttons to force them to use Survey123 when we ne

[2021-12-22 21:01] pjdohertygis commented on #188
Let's raise this with Cadre since this would involve a change in the data model.

We can explore using Workforce for these use cases. I'd hate to add another app to the arsenal.

[2021-12-22 21:13] pjdohertygis commented on #190
I like the idea of making Task Force domain a drop-down, however, this can be problematic for two reasons:

1) We are already adding Team Names to waypoint and tracklog feature layers, QuickCapture UI, Survey123 UI EVERY TIME we add a new Task Force, which happens about once a month. We need to find a streamlined way to add new Task Forces to ONE LIST and let all fields be populated by that. We've

[2021-12-22 21:17] pjdohertygis commented on #186
@jwarzinik maybe in the short-term we define this in the Rules of Engagement - "take photo of search marking". I'd hate to add more data collection burden onto folks if no one is going to use the data for decision making.

[2021-12-22 23:05] pjdohertygis opened #191 "Search Segment Nomenclature"
We need consistent and easy to use / understand naming convention for search segments.

[2021-12-22 23:14] pjdohertygis opened #192 "Review Follow-up Rules in QuickCapture"
For example Animal Hazards defaults to Needs Follow-up, but if they don't put any comments it just lingers and there is no way to close it out.

[2021-12-23 03:02] grover556 commented on #186
Is this something we are having issues with from IST or AHJ, or is the desire just to capture what's written on the marking?

[2021-12-23 17:02] pjdohertygis opened #193 "Review QuickCapture - blank fields"
When using QuickCapture there a lot of fields left blank. Should we add default answers - should it say "From QuickCapture", so we know it is supposed to blank.

[2021-12-27 21:00] pjdohertygis commented on #99
"Our next goal is to provide an option to QuickCapture authors to make the map be automatically shown when a button is pushed. The purpose of showing the map is for the end user to validate, update and/or confirm the location of the observation added using the map. We plan to have an option to define a custom hint so users are clear on what they are supposed to do with the map. For example, you co

[2021-12-27 21:03] pjdohertygis opened #194 "QuickCapture - Provide PDA Damage Category definitions for each waypoint button"
From IN-TF1 Program Manager

"1.	When in the program Damage Assessment buttons: Minor to Destroyed buttons being able to click on them once to show the definition and then click twice identify the structure.  Then put a reminder to drag pin to the “A” side of the building."

"4.	See comment #1, but for Human interactions, Hazard and other support buttons could all have definitions on the first cli

[2021-12-27 21:04] pjdohertygis commented on #194
@afackler - I'll add this to Planner today and we can discuss what we can do in the short-term.
@IsmaelInRedlands - interesting feedback above worth considering? Any other suggestions on what we can do now?

[2021-12-27 21:12] pjdohertygis opened #195 "Rules of Engagement by Division"
"With the reference library upload the Rules of Engagement from the local agency, based on your GPS coordinates which will identify the county and/or city that your operating in.  That is then stored in the reference library for the squads to review.  That would help eliminate mistakes by teams operating across multiple jurisdictions. " IN-TF1 Program Manager

Response
•	This is a cool idea! First

[2021-12-27 21:37] pjdohertygis commented on #194
Short-term fix --- Button User Input Comments

![image](https://user-images.githubusercontent.com/4256979/147508633-4cb71b81-aec4-43e3-9394-4f12883f79a8.png)

![image](https://user-images.githubusercontent.com/4256979/147508588-f09acf0b-4bc0-41ec-9b93-370fdae6acd4.png)

Destroyed: the home/structure is a total loss.
Major: a home with structural damage or other significant damage that requires ext

[2021-12-28 17:54] xiao8579 commented on #187
Hi @pjdohertygis @grover556 Could you help clarify it further- are there any other map components that you need? We had heard about map scale bar, ruler, feature label, layer visibility toggle, and feature pop-up/attributes? And how would these help with the current data capture workflow and why? It will help us boil down the requirements and design on our end.

[2021-12-28 18:09] grover556 commented on #187
Hi @xiao8579 I'm not sure how busy we want to make the map within QuickCapture, but the layer toggle need is for the following scenario. Right now, we divide a town or neighborhood into segments and assign those to individual squads for completion. Due to the density of points, it's difficult (if not impossible) to locate or read the segment label and boundaries on the map because it just gets los

[2021-12-30 14:42] pjdohertygis opened #196 "QuickCapture with Tracker - when phone sleeps, app eventually crashes"
Here are results of a test I did yesterday. Is this expected? Is this something that is being addressed in v1.13 already or a new issue I should report through Esri Support?

I think the biggest concern isn't just the crash, it is the fact that there wasn't even an error message so the end user would not know it crashed.

![image](https://user-images.githubusercontent.com/4256979/147761483-0b7e846

[2021-12-30 18:22] xiao8579 commented on #196
Could be related to runtime operations stacking up when in background after hours, still looking into this issue.

[2022-01-04 22:55] xiao8579 commented on #196
@pjdohertygis Our guess is that the crash is caused by the map (by Runtime). Can you try the above workflow without opening the map page, see if it still crashes? In the meantime, we're doing some tests too to investigate this.

[2022-01-05 02:43] pjdohertygis commented on #196
Here is a test by FL-TF2 with an iPhone 13 Pro ![image](https://user-images.githubusercontent.com/4256979/148152405-5d459212-4e39-4cf3-8e72-3d8d0fe84c45.jpeg)

No crashes but probably a mix of leaving the map open and closed. This is decent battery usage, about what I expected. I wonder if using only LKL in v1.13 and no Tracker tracklogs if that will improve battery use?

[2022-01-06 01:20] pjdohertygis commented on #196
@xiao8579 so results below suggest perhaps it is the map causing the crash. I'll try one more test tomorrow with map open on the SONIM device.

![image](https://user-images.githubusercontent.com/4256979/148312716-2d4d5e7a-3ebf-4468-b810-8b201f0c4afe.png)

[2022-01-07 18:29] pjdohertygis commented on #7
Ok so we are back to working on this enhancement after the Kentucky Tornado Deployment.

"Yesterday, a "rescue" waypoint slipped through the cracks without review.

I don't want to start filtering data from dashboards because end users won't understand it and it will cause confusion.

HOWEVER, what if all human interaction data had a "sticker" that said Not Yet Reviewed or Not Yet Confirmed??? The

[2022-01-07 18:33] pjdohertygis commented on #7
Summary of work to date:
- There is a field "Approval Status"
- Within this field there is a domain for "Not Yet Approved"
- In QuickCapture and Survey123 - any human interaction will default to "Not Yet Approved"
- In both Tactical and Strategic Dashboard, we added a filter for Approval Status so you both a Task Force and IST can see what still needs to be reviewed.
- Situation Reports should not

[2022-01-07 19:31] grover556 commented on #7
I'm not sure we need to automatically mark Assist, SIP, etc as not approved. The original intent with that field was to only flag Victim/HR detect/confirm/remove and Rescue as needing a secondary confirmation.

[2022-01-07 19:46] pjdohertygis commented on #7
@grover556 - Adam @afackler will work on pairing it down next week. Thanks for the reminder.

[2022-01-10 15:42] afackler commented on #7
I changed and tested the logic this morning, should be good to go now

[2022-01-10 20:10] johnmorrisonffx commented on #177
This would immensely help now that Explorer is deprecated.  We used the deeplink functionality in Explorer for INSARAG to open Survey123 with pre-populated information.  Having this functionality in QuickCapture would allow us to have the same functionality without us having to open up another app (like FieldMaps).

[2022-01-10 21:10] IsmaelInRedlands commented on #177
Thanks @pjdohertygis  @johnmorrisonffx
We have added this to our QuickCapture backlog.
The initial thinking is that the author of the QuickCapture project should decide when the following map features are on or off:
* Feature popups
* Basemap switcher
* Measure tool
* Layer visibility widget
* Scalebar
* Feature and address search

[2022-01-13 19:10] pjdohertygis opened #197 "Waypoints: "Consolidate" Victim and HR waypoints"
From Flagler County GIS "The main feedback we received on the app – which everyone loved by the way – is under the Human Interactions category. The Teams thought there were a lot of buttons here, and some of them had smaller phones. They asked if the Victim detected & Victim confirmed could be one button for Victim and when it’s selected they’d choose detected or confirmed. They also asked if the

[2022-01-14 16:52] pjdohertygis commented on #194
Instead of relying on the hints, we are going to try adding definitions right to the buttons. Feedback?
QuickCapture https://arcg.is/14fK4

![image](https://user-images.githubusercontent.com/4256979/149553786-e0cf717e-1bba-4352-b098-d754567a8959.png)

![image](https://user-images.githubusercontent.com/4256979/149553712-c2108347-a458-4e95-a435-b994e0773531.png)

[2022-01-14 17:04] IsmaelInRedlands commented on #99
Delivery date change early March 2022.

[2022-01-14 17:05] IsmaelInRedlands commented on #129
Should this be closed for now and reopened in the future if we have a repro case?

[2022-01-14 17:07] IsmaelInRedlands commented on #131
This issue should now be addressed in the Beta 1.13 builds.  Planned delivery date early March 2022.  When editing records the map now launches much faster and the memory footprint has been reduced.

[2022-01-14 17:11] IsmaelInRedlands commented on #178
Thanks @pjdohertygis  Expect us to reach us back to you in late February on this.

[2022-01-14 17:32] grover556 commented on #194
For the QuickCapture v1.13 bullet point, do we have the ability to conditionally require map input based on active search type? For example, we've begun the discussion about requiring map input on certain types of searches and/or waypoints. Lets see if we can require map input for Targeted and Secondary, not for Hasty or Recon, and maybe for Primary. I can see the flip side of having to move a poi

[2022-01-14 18:15] pjdohertygis commented on #194
@grover556 I'll move this comment over to https://github.com/pjdohertygis/WideAreaSearchTemplates/issues/99 so it doesn't slip through.

[2022-01-14 18:16] pjdohertygis commented on #99
Adding comment from another thread here.

"For the QuickCapture v1.13 bullet point, do we have the ability to conditionally require map input based on active search type? For example, we've begun the discussion about requiring map input on certain types of searches and/or waypoints. Lets see if we can require map input for Targeted and Secondary, not for Hasty or Recon, and maybe for Primary. I ca

[2022-01-14 18:27] pjdohertygis commented on #99
@grover556

I'll let Esri speak to the ability to use one button (tracklogs) to control the behavior of other buttons (waypoints)....

But first, it would be good for you to see the design of what they propose. It looks like it will be minimally obtrusive and won't require you move the pin, it will just prompt you to look at the map and see your location and the pin location, with a basemap to gui

[2022-01-14 18:38] afackler commented on #7
These waypoints have a default of 'Not Yet Reviewed" and would be filtered in the dashboards as Needs Review:
- Rescued
- Victim Detected
- Victim Confirmed
- Human Remains Detected
- Human Remains Confirmed
- Human Remains Removed

Every other waypoint created in **QC or S123** defaults to "No Approval Required". Any point created in the **Intel Manager** will default to Not Yet Approved. More wa

[2022-01-14 18:48] pjdohertygis commented on #129
Agreed - closed

[2022-01-14 18:48] #129 closed

[2022-01-19 16:47] afackler commented on #109
Answering the first question - I can't do anything with the CSV in QuickCapture. There's nothing in the options to even suggest it's possible. I think it would be cool to have this capability - being able to change a list without republishing the whole project, but for the time being, I don't see any way of doing it.

As for the lookup, I took an approach of changing the survey's team name calcula

[2022-01-24 14:24] pjdohertygis opened #198 "QuickCapture - Screen size issue with iPhone 13 Mini"
![iPhone13 screen size issue](https://user-images.githubusercontent.com/4256979/150800350-6b622c24-497b-4bde-b459-93cd594de941.jpeg)

I don't think any US&R Task Forces have iPhone 13 mini as standard issue yet but... Alix and I noticed on her new phone the user interface is cut off at the top and makes it hard to tap on the map icon.

Just passing it along in case it is something that can be fixe

[2022-01-27 19:38] pjdohertygis commented on #135
Team -

Harris FL-TF2 recommended we make Lifeline Report a button that always opens up Survey123 because it requires more details.

I've implemented this now as a test in the Sandbox: https://arcg.is/14fK4
![image](https://user-images.githubusercontent.com/4256979/151430973-1bb1539b-7670-4718-a322-94de0cce9ccd.png)

![image](https://user-images.githubusercontent.com/4256979/151431052-15bd74f0-b49

[2022-01-27 19:43] pjdohertygis commented on #178
Another user, this time from FL-TF2 commented after their exercise "
![image](https://user-images.githubusercontent.com/4256979/151432036-5c773b56-2a0d-4ebf-87ec-73af69a5a06e.png)
"

[2022-02-02 23:20] pjdohertygis commented on #198
It looks like this is being addressed in 1.13.304

[2022-02-02 23:21] pjdohertygis commented on #99
Currently testing on v1.13.03!

[2022-02-03 06:04] JohnHasthorpe commented on #198
@pjdohertygis can you get this verified on the testflight build?

[2022-02-03 16:17] pjdohertygis commented on #198
@avezina can you test on your fancy new undersized phone?

[2022-02-03 16:25] avezina commented on #198
Beautiful
![quickcapture](https://user-images.githubusercontent.com/50338557/152384364-a5ee97ad-7585-4d9f-8b11-22abf432729c.jpg)

[2022-02-04 06:07] JohnHasthorpe commented on #198
Thanks for testing

[2022-02-10 00:11] pjdohertygis commented on #109
For later consideration.... we may want to pull the Team Name field out and stop using domains altogether on the feature layer.

*Survey123*
- In Survey123 we used the Team Name field as a domain so people have a dropdown.
- When they fill this out, it also fills out the Team Filter field.
- Team Other only gets used when they don’t exist in the dropdown.

*QuickCapture*
- In QuickCapture we ONLY

[2022-02-11 17:56] afackler commented on #7
Met with Jack Hewitt from Esri on 2/10/22 and he showed me a method of adding a "sticker" onto the waypoint list using a combination of Arcade and HTML. He sent me the HTML and arcade logic and I will implement them into the sandbox. We can use any SVG right now and I asked him to look into including other images besides SVGs in case we want that capability later down the road. Below is a screensh

[2022-02-11 18:19] pjdohertygis opened #199 "Add Dashboard Elements for "Waiting for Review", "Waiting for Follow-up"
Today John from VA-TF1 / USA1 raised a good idea. If we are going to use the "Approval Process"
https://github.com/pjdohertygis/WideAreaSearchTemplates/issues/7

Then we should make it easy to see what still needs approval.

While we are at it, it makes sense to also count the number of waypoints that still need follow-up.

Here is an example from the INSARAG System
![image](https://user-images.gi

[2022-02-11 18:36] pjdohertygis commented on #199
Any suggestions for where this these elements should go? Maybe in here? One tab for Needs Follow-up, One tab for Needs Review?
![image](https://user-images.githubusercontent.com/4256979/153649835-7a59fd8b-a7a8-49ef-a1e2-055b6122bcfc.png)

[2022-02-12 21:47] pjdohertygis opened #200 "QuickCapture v1.13 - Map Input not showing captures on device."
IN-TF1 Roger mentioned this problem and I didn't understand until I tried it.

1) Enter a point, use map input to drag pin to structure
2) Enter another point, use map input to drag pin to another structure - while the map is open, then can't see the most recent point entered until it goes up to the feature layer and shows up in the web map. Shouldn't we at least see the "active capture" pin?

The

[2022-02-12 22:06] pjdohertygis commented on #200
I am able to reproduce the behavior on an iPad mini 5th generation, 14.7.1 with QuickCapture v1.13.310.

It is easier to demonstrate on an iPad because you can see the map the whole time. It almost looks like it is not honoring the autosend feature correctly too. I have it set to send every 15 minutes, but it appears to send me data anyway each time I make an entry using the map input.

[2022-02-13 01:00] IsmaelInRedlands commented on #200
Got it. The problem is understood. Thanks a lot. Will discuss with the team Monday. No further repro steps needed.

[2022-02-13 16:52] pjdohertygis opened #201 "QuickCapture v1.13.301 - Firefly in web map issue?"
.@avezina was doing some testing with 1.13.301 and noticed her web map no longer loads on iPhone 11 or iPhone mini 13.
https://www.arcgis.com/apps/mapviewer/index.html?webmap=f44caeec1213412ea7cde8f940d4e487 (private, we can invite to a group)

The error is the message:
"Failed to load the map
 RELOAD
USE DEFAULT"

It does work in production 1.12.104, iPhone 13 mini when she downgrades.

Could it

[2022-02-13 23:36] JohnHasthorpe commented on #201
@pjdohertygis can you share the map with QCCreator ?

[2022-02-14 00:45] pjdohertygis commented on #201
@JohnHasthorpe invite sent!

[2022-02-14 10:43] JohnHasthorpe commented on #201
This looks like a runtime bug. Can you share how you created the adventure tracks symbology?

[2022-02-14 22:45] JohnHasthorpe commented on #201
Thanks @avezina

[2022-02-17 12:45] jwarzinik opened #202 "QuickCapture: Could the Location Tracking "enabled toggle and bar" be moved into the app settings screen"
@IsmaelInRedlands  Could the Location Tracking "enabled toggle and bar" be moved into the app settings screen vs along the bottom near the GPS?  As it is now, the banner bar (even when tracking is forced always on) is taking up premium screen area covering up / blocking the usable area of the QuickCapture map/buttons GUI area and users could pretty easily fat finger and turn off location tracking

[2022-02-17 12:54] jwarzinik opened #203 "Larger font for description text and support for Dark Theme"
@IsmaelInRedlands  Below is the size of the description text on buttons (which I LOVE to help provide just in time context to the field users) when viewed on a phone with a 5" screen (iPhone mini / XP8 Sonim / etc).  Can the font be increased to be more readable in harsh conditions/bright light. Also is support for "Dark Theme" mode in the works?

![Screenshot_20220216-135404](https://user-images.

[2022-02-17 13:06] jwarzinik opened #204 "QuickCapture: Force Split Screen / App Rotation Locked"
@IsmaelInRedlands The force split screen setting is intriguing even on phones to give the user a small view of the map at all times for navigation and situational awareness of search progress.  Issue I ran into on the the phones I tested (Samsung s21 and Sonim XP8) which might not be anything you can control, QuickCapture seems to be locked to portrait mode and will not rotate to landscape no matt

[2022-02-17 20:05] IsmaelInRedlands commented on #204
Agreed 100%
We will likely not be promoting this feature until we can support portrait mode.
It is available in 3.13 Beta, but we may hide for General release until we get this complete.

[2022-02-18 03:39] JohnHasthorpe commented on #203
@pjdohertygis the description in this project is a thumbnail, so we can't do much to change it. What are you thinking?

In terms of dark mode, we have it in the works - but it would only apply to app UI elements and not the project.
Users would need to author a project that was dark theme, but we were thinking of making this easier in the designer with some coloring tools.

[2022-02-18 04:46] pjdohertygis commented on #203
@jwarzinik @JohnHasthorpe yep we are experimenting with "hacking" some extra text by creating thumbails with text. It isn't working that well and it might be a nice enhancement to allow people add more text to buttons. Sorry for any confusion!

[2022-02-18 13:04] jwarzinik commented on #203
I really like the added text to help the field user, who may only see the app once a year, feel more confident in capturing data correctly.

[2022-02-18 14:44] pjdohertygis commented on #203
@jwarzinik I'll send you a note on Teams, I made those thumbnails in PowerPoint. Maybe you can help be tinker with the font size and get it as large as possible?

![image](https://user-images.githubusercontent.com/4256979/154704084-21d10a95-20ac-41b2-9558-d56179260249.png)

![Recon v1](https://user-images.githubusercontent.com/4256979/154704317-2d69580b-67e9-4a22-a43f-d5c1010c5497.png)

[2022-02-18 21:48] pjdohertygis commented on #155
@IsmaelInRedlands we hit this issue again on another project within our fema.maps.arcgis.com environment, will there be a fix with v3.14?

[2022-02-18 23:20] pjdohertygis opened #205 "QuickCapture v1.13 - Map input slow / sticky upon load on Android"
- @jdokemaps @afackler will add details below on what they're experiencing but basically when they go to use the new map input capability on their Android the map is slow to respond to their pan or zoom when it first loads.

[2022-02-21 20:24] pjdohertygis commented on #202
@jwarzinik the only problem I see with the suggestion is you'd have to exit the project to turn it on / off? Maybe there is an elegant solution the QC Team can think about to prevent errant toggling off the tracking.

[2022-02-21 20:28] pjdohertygis opened #206 "QuickCapture: Change default offline map / map areas."
The new ability to cache offline areas by map extent is GREAT! We will still need to train users to open the map before leaving connectivity.

Now the main challenge we need to overcome is when the user forgets to cache an offline area or when they are working consistently offline. Can we customzie the default basemap that gets downloaded with QuickCapture so it is has more detail? I'd want to cac

[2022-02-22 06:10] JohnHasthorpe commented on #206
@pjdohertygis - we do have plans to allow the default map to be specified as an organization setting, just like the autosend interval setting.

This would mean that the offline map would get downloaded after the user signs in. This is the part that needs consideration. Do we just do this in the background? Do we prompt the user to start the download and ask them to wait for it? or Do we prompt the

[2022-02-23 00:36] pjdohertygis commented on #205
From @jdokemaps "I just tested 1.13.354 and it isn't sticky today"

[2022-02-23 15:50] afackler commented on #205
Tested 1.13.354 today as well. Map is still a bit sticky for me, but not as bad as it was (Android version 10 on Galaxy S9+). I am also able to share coordinates but only in MGRS.

[2022-02-26 23:28] pjdohertygis commented on #196
This happened again today....
![image](https://user-images.githubusercontent.com/4256979/155862165-1e21a1b9-897b-46ba-8f5d-1747af8c85ac.png)

![image](https://user-images.githubusercontent.com/4256979/155862160-ad82bfd1-b540-41a8-9a62-2ff32588b42a.png)

[2022-03-05 01:41] pjdohertygis commented on #196
![image](https://user-images.githubusercontent.com/4256979/156862543-3386afda-91aa-445f-a670-9f0c15fdbcd3.png)

Will try with TestFlight release v13.366 next week

[2022-03-06 04:53] pjdohertygis commented on #196
![image](https://user-images.githubusercontent.com/4256979/156909773-938552ef-dcd0-4456-85f2-6767fad56019.png)

It seems like the new build lasted a little longer before crashing?

[2022-03-10 19:49] pjdohertygis opened #207 "Survey123 3.14 and Sandbox Survey crashing on Samsung Galaxy"
Cross-reference with Esri Case #03017072

ArcGIS Online
Published via Survey123 Connect (confirming version with @jdokemaps )
Survey123 Link: https://arcg.is/0T4mLG
![image](https://user-images.githubusercontent.com/4256979/157765801-4df5c121-b0d9-4d0b-9fa9-93a4dca4a5fb.png)

Web map used in Survey123
https://www.arcgis.com/home/item.html?id=180845d9e64043eabda02214da76729c

AZ-TF1 found an issue

[2022-03-10 20:55] pjdohertygis opened #208 "QuickCapture - Tracklogs "spiking""
The QuickCapture Team @xiao8579 @IsmaelInRedlands is already aware of this issue, but can use this thread to grab screenshots and details.

Basically, we are seeing unexplained "spikes" in QuickCapture tracklogs in v1.13.

[2022-03-10 20:56] pjdohertygis commented on #208
03/10 - Plans Course in Rochester, NY

We will get more details from Bubba once the training is over.

![image](https://user-images.githubusercontent.com/4256979/157753027-f2eebef1-b6be-48a3-8f76-3555f1106815.png)

[2022-03-10 21:09] pjdohertygis commented on #208
@jdokemaps

03/03 Zion, UT

Device: Android (@jdokemaps)
OS: Android 12.0
QuickCapture: v1.13.361

![image](https://user-images.githubusercontent.com/4256979/157754502-842b186d-d024-4f0e-83be-f4c9a821d279.png)

[2022-03-10 21:22] ackelley44 commented on #207
Confirmed same crashes on

S123 ver 3.14.237

Samsung Galaxy Tab S3 (SM-T820)

Android ver 9

[2022-03-10 21:39] ackelley44 commented on #207
Not having crashes here:

S123 ver 3.14.237

Samsung Galaxy Tab A (SM-T387V)

Android ver 10

* This version is NOT giving access to, or using the basemap 6729c Sandbox

[2022-03-10 22:32] pjdohertygis commented on #207
Opened Esri Case #03017072

[2022-03-10 22:34] jdokemaps commented on #207
Confirmed crashes on Pixel 6 Pro running Android 12 with Survey123 Verion 3.14.237.

[2022-03-11 05:39] pjdohertygis commented on #207
IN-TF1 Roger says

"Paul,

On March 7, the search team was in the IN-TF1 classroom training on QC and S123. They updated the tablets to QC 1.13 and **S123 to version 3.14**. Each person was using both an Apple tablet and **Samsung Galaxy Tab A, Android ver 10 tablets**. Two of the Samsung tablets crashed when plotting a waypoint in QC and **one Samsung tablet crashed when plotting a waypoint in S1

[2022-03-11 14:56] afackler commented on #207
Experience some crashes when submitting data and setting favorites. Crashes occurred the most with the first record after opening the app
S123 ver 3.14.237 Samsung Galaxy S9+ Android 10

[2022-03-11 18:18] pjdohertygis opened #209 "New Tracklog Category - Mission Specific"
Raised on 03/11 by NSARGC Cadre

Should we just make a new tracklog category for capturing when we aren't doing search?

It was recommended:

- Search Type: Mission Specific
- Secondary Question / New Field: Mission Type [Damage Assessment, Humanitarian, Other]
- Gray / Silver Line Color

We should prototype a solution and run by the NSARGC Cadre and the Search Subgroup. We do not want this to imp

[2022-03-12 02:54] pjdohertygis commented on #208
Stafford, VA - I think this is a TEEX training so not sure who is a good point of contact for this.

![image](https://user-images.githubusercontent.com/4256979/158001025-da480808-0bea-4e3c-a3ae-5309029c9d19.png)
<html>
<body>

Data Source | QuickCapture
-- | --
ios 14.8
1.13.360

</body>
</html>

[2022-03-14 16:50] Zachary-Sutherby commented on #207
Hello all,

We are currently investigating the issue on our end. If possible would you be able to provide a Survey123 diagnostic log when the crash occurs?

[2022-03-14 16:59] pjdohertygis commented on #207
@Zachary-Sutherby - I'll work with the team to get some logs. Should I send it to Esri Support and cc you?

[2022-03-14 17:37] Zachary-Sutherby commented on #207
@pjdohertygis Yeah that would be perfect, unfortunately it seems I don't have direct access to the Support case, obtaining the logs in an email would work out.

[2022-03-15 13:02] pjdohertygis commented on #208
PA-TF1
![image](https://user-images.githubusercontent.com/4256979/158383328-513c0ea2-d1e4-4efd-a378-e9cb6fed9d75.png)

[2022-03-15 22:36] JohnHasthorpe commented on #208
@pjdohertygis - where is PA-TF1?

[2022-03-15 23:40] pjdohertygis commented on #208
@JohnHasthorpe normally they are based in Philadelphia, but this exercise looks like Harrrisburg, PA - search N 16th St & Carnation St, Harrisburg, PA, 17103, USA

[2022-03-16 05:14] pjdohertygis commented on #99
This enhancement is working really well! We first implemented for damage assessment waypoints only, but today I had a few task force members (CATF8) suggest we also prompt with a map for any human interactions as well. @jdokemaps @afackler - I have implemented "map input" for human interactions in the Sandbox and FEMA for now. Let's see how they respond to this in the next exercise.

[2022-03-16 05:23] pjdohertygis commented on #163
![image](https://user-images.githubusercontent.com/4256979/158522141-4a9157b3-5f06-4375-80b0-1e472b02d8a7.png)
I have changed this symbol in all web maps and QuickCapture buttons I could find. Let's continue to rotate this in. @jdokemaps can you add to the data dictionary and eventually update in AGOL (will make it a Planner task)

[2022-03-16 17:06] pjdohertygis commented on #208
SC-TF1 Harbison State Forest, Twill Ct, Irmo, SC, 29063, USA

![image](https://user-images.githubusercontent.com/4256979/158647142-74ef5ced-e13a-496a-99ab-61d7bdbeedd2.png)

[2022-03-17 09:47] JohnHasthorpe commented on #208
@pjdohertygis - You could set a required accuracy of say 30 meters. This would mean:
- Points: User could not capture a feature unless accuracy was better than 30 m
- Lines: Once a line is active, vertices that have an accuracy of less than 30 m will be excluded from the line. This should remove big spikes that result from snapping to fixed location/tower etc.

It is your call what this threshhold

[2022-03-18 23:11] pjdohertygis commented on #208
This is on a real deployment so cannot share the link but TX-TF2 @JohnHasthorpe take a look at that spike...

![image](https://user-images.githubusercontent.com/4256979/159095716-b410223c-b035-46b3-902a-ca7fc3d14dbb.png)

[2022-03-18 23:17] pjdohertygis commented on #208
@JohnHasthorpe disregard - that is the new "optimized" display issue we are seeing in AGOL when zoomed out...

[2022-03-19 00:30] pjdohertygis commented on #67
Someone on CA-TF5 raised this as a huge need and said they'd email me with a template they are using for wildfire logistics. No further details at this time.

[2022-03-19 19:37] pjdohertygis commented on #208
@JohnHasthorpe here is another one - this time it was a real world deployment track accidentally entered into the Sandbox (I moved the data into the right place using the Smart Editor copy features tool).

https://arcg.is/1LDSfq1
![image](https://user-images.githubusercontent.com/4256979/159135881-cdb010cb-0c53-4153-b614-5a2857e4abdc.png)

[2022-03-19 23:08] pjdohertygis commented on #208
Should we merge these two issues? Do we think they are the same @JohnHasthorpe https://github.com/pjdohertygis/WideAreaSearchTemplates/issues/128

[2022-03-19 23:08] pjdohertygis opened #210 "Tracklogs (polylines) "over-generalize" in the New Web Map Viewer"
Esri Case #03024071

Software: ArcGIS Online, New Web Map Viewer (and ArcGIS Dashboard or any other app consuming the new web map viewer)

Browser: Edge, Chrome, Firefox

Technical Problem: When zoomed out, our tracklogs (lines made in QuickCapture) are making straight lines at an inappropriate scale. When you zoom in they show detail, but it is confusing for the end user. I think it is removing t

[2022-03-19 23:34] pjdohertygis commented on #210
Confirming if I turn off and then turn on optimize drawing it temporarily fixes the issue. But then any longer tracks that come in after will be overgeneralized again. This is problematic because we are working with live data. I think perhaps something is just "stuck" on our layer and perhaps Esri Dev Ops or AGOL Team can take a closer look at our feature layer? They will need secure access as thi

[2022-03-21 22:20] JohnHasthorpe commented on #208
@pjdohertygis #128 is a separate issue and relates to Android and the device being stationary in the app in background.

This issue relates to background location being suspended and affects iOS and Android.
Could you clarify if all spikes in this issue resulted from the map viewer generalization issue, or if vertices were missing?

[2022-03-22 16:43] pjdohertygis opened #211 "Pin2Coverage - radio coverage mapping"
Katie from TX-TF1 and a few others were discussing an idea based on the Pin2Flood concept. https://www.caee.utexas.edu/prof/maidment/TDEM/PinToFloodMap/Pin2FloodOnePager.pdf

Drop a pin where you have a radio repeater and see the coverage and vice versa drop a pin where you do / don't have radio coverage and find out where else may have coverage.

Cool idea! Does anyone have any leads on who else

[2022-03-22 18:52] kkay82 commented on #211
A few resources/ideas @pjdohertygis - this goes back to the beginning of the Tech Innovation project. For it to work we would need:

1. Coverage maps (and more than likely we will have to convert them from PDFs into shapefiles).
2. Existing infrastructure (this would need to be a crosswalk between HIFLD data, CASM, and local datasets).

Would probably want to pull in CISA ECD, SWICs, and any COM-L

[2022-03-23 04:49] pjdohertygis opened #212 "RST/HAZ Layer is preventing pop-ups in New Web Map Viewer and Dashboards"
@afackler ​ - It appears that the RST / HAZ layers are now causing an issue where no layers in the Dashboard or new Web Map Viewer can open pop-ups if the RST/HAZ layers are turned on. They still work in Classic and Web AppBuilder (older Javascript).

Something about the symbology that it does not like and since the release it does not work at all. Once you turn the layer off in the TOC, you can g

[2022-03-23 14:20] afackler commented on #212
Just got off the phone with Esri, case **#03025894**.

Issue was happening in the sandbox as well. I sent them the links to the layers/ map to test on their end. Some observations:
- Issue only happened when views were turned on. I took out all the views and put in the master feature layer and could not reproduce, but when I added the views back in and turned them on the issue came back.
- I was u

[2022-03-23 14:35] pjdohertygis commented on #212
It would be good to narrow down if it is all feature layer views, or just when a feature layer view has a duplicate feature layer view or feature layer in the web map with the same geometry.

[2022-03-23 17:03] afackler commented on #212
After some testing, I found that the feature layer views that are causing the issue are all **not editable**. I added the views that were editable and did not experience the issue. Later I switched one of the views to editable and the issue vanished.

[2022-03-25 19:13] afackler commented on #212
Esri was able to replicate this issue and this bug has been fixed in a recent AGOL patch. It is suspected that the AGOL update was to blame.

[2022-03-25 19:13] #212 closed

[2022-04-18 12:56] pjdohertygis opened #213 "QuickCapture: Linked Surveys do not give the option to install Survey123"
From Dave Weber - "Currently all of the Survey123 project launch buttons located in QuickCapture | Additional Apps and Forms do not point you to the app store on your smart device if the Survey123 app is not installed first.

QuickCapture from the QR code and Field Maps currently direct you to the app store.  I think the Survey123 buttons should direct you to the app store if you don’t have it ins

[2022-04-18 18:49] IsmaelInRedlands commented on #213
Hi @pjdohertygis . Thanks for sharing this . This is caused by the format of the link, which follows the arcgis-survey123:: pattern instead of https://survey123.arcgis.app. We need to review why we chose to go with arcgis-survey123:: in the past.
 I added a note in our internal repo to evaluate switching to app links. In the meantime, if you create links using  https://survey123.arcgis.app users w

[2022-04-18 19:53] pjdohertygis opened #214 "QuickCapture: Sideload data as geopackage"
Here is an ArcGIS Ideas post we can use for discussion
https://community.esri.com/t5/arcgis-quickcapture-ideas/sideload-data-from-quickcapture-to-pc-in-usable/idi-p/1165374/jump-to/first-unread-message

[2022-04-18 20:17] pjdohertygis commented on #210
AGOL Team says "we don't know why this happens, possibly a schema change?" "we can't guarantee overwrite will fix it"

**Options:**

1. Try to capture web traffic and investigate what may be causing issue, through Fiddler / Chrome (this did not reveal anything new, Esri Support was able to replicate the problem on this service but not get closer to understanding the cause)
2. Overwrite the service

[2022-04-20 15:15] pjdohertygis commented on #207
Ok now testing with 3.15.118 and still hitting issue. We have not made much progress with Esri Support and this is critical. Esri Case #03017072 @IsmaelInRedlands @Zachary-Sutherby do you want us to escalate to premium support?

From @afackler "After my phone updated (still on Android 10), I had a few issues come up: App froze after I exited the map on the location question; Whole app froze and I

[2022-04-25 18:33] pjdohertygis commented on #99
Implemented in v1.13! Thank you @IsmaelInRedlands and team!

[2022-04-25 18:33] #99 closed

[2022-04-25 18:33] #150 closed

[2022-04-25 18:36] pjdohertygis opened #215 "QuickCapture: Allow multiple button user inputs"
While we want to keep QuickCapture "quick"...

We are running into multiple use cases where having multiple button user inputs would be helpful.

1) Damage Assessment - it would be helpful to allow the end user to enter the Address into the address field and then comments.
2) Victim Confirmed - it would be helpful to allow the end user to enter the number of victims needing rescue and then comment

[2022-04-25 18:38] #193 closed

[2022-04-25 18:38] #192 closed

[2022-04-25 18:38] #198 closed

[2022-04-28 23:16] pjdohertygis opened #216 "QuickCapture: Map Sketch"
Scenario 1: Single Point
"One thing that has developed in my mind while writing this, may be more appropriate as a separate enhancement request is to be able to long-tap on the map to "Collect here" just as is possible in Field Maps. Confirming the "collect here" would just bring up the primary QC page/menu but remember the coordinates of the map. We do a lot of point-dragging after collection to

[2022-05-03 16:32] pjdohertygis commented on #208
Another potential issue @JohnHasthorpe  - NY-TF1. We will confirm security settings. Also... this is an underground tunnel exercise, but I wouldn't expect this behavior. It looks like it mapped back to their staging area?

See Intel Manager here (they may delete this soon) https://arcg.is/0umny1

![image](https://user-images.githubusercontent.com/4256979/166497484-f5f3441a-26ee-497f-b614-d7418a45a

[2022-05-08 21:18] pjdohertygis commented on #208
@jdokemaps had a spiking issue with Google Pixel
![image](https://user-images.githubusercontent.com/4256979/167316124-4893f0f4-5c2c-476f-abb7-2348bb74a10c.png)

Link: https://arcg.is/1zv5Hf

[2022-05-09 01:35] JohnHasthorpe commented on #208
Hi @pjdohertygis - for this one: https://github.com/pjdohertygis/WideAreaSearchTemplates/issues/208#issuecomment-1116300202
It would be good to get some context - where is the tunnel entry/exit? Where is the staging area?
Additionally, do you have an error threshold set on the project?

[2022-05-09 02:06] pjdohertygis commented on #208
@Tim can you add some context?

[2022-05-11 19:56] pjdohertygis commented on #208
@JohnHasthorpe @IsmaelInRedlands does this information help? It really seems like the devices are defaulting to an old location in the middle of the tracklog vertex collection, in particular when WiFi is left on?

[2022-05-11 19:57] pjdohertygis commented on #208
Another example, looks like IL-TF? We don't have a good point of contact on the ground.

![image](https://user-images.githubusercontent.com/4256979/167935148-1ce4ba0f-096d-4810-9d74-c7d3a78ada33.png)

[2022-05-16 18:30] pjdohertygis commented on #208
![image](https://user-images.githubusercontent.com/4256979/168658740-c8e4c490-330f-4286-b4ee-eb252b1bed96.png)

Another spiking issue - with @jdokemaps - thinks maybe due to opening Teams or another app this time interfering with QC location access?

[2022-05-20 16:57] pjdohertygis opened #218 "Survey123 Linked Button on Android (Pixel) - clears out the Project User Input"
When @jdokemaps uses a Survey123 linked button on our Sandbox QuickCapture - when it returns to QuickCapture it clears out his Project User Input? I cannot replicate on iPhone.

![image](https://user-images.githubusercontent.com/4256979/169576987-2d0c877d-9783-4a29-8c50-5abd0b5bb80a.png)

[2022-06-01 14:40] pjdohertygis opened #219 "QuickCapture: Access to photo library for photos."
Jared and I met with someone from Agility Corp / FirstLook360 Team https://www.agilitycorp.com/ at the State Urban Search and Rescue Conference. They mentioned we could increase interoperability between their rescue camera system and ArcGIS if QuickCapture could access the photo library vs only take new photos. It appears you can access the photo library in Survey123.

Discussed with Jonathan Hast

[2022-06-07 16:46] pjdohertygis opened #220 "QuickCapture - Project can't be saved due to "access to layers""
This is a new error that just popped for us the first time today June 7th, 2022. I'll document here and then get a ticket in with Esri Support.

![image](https://user-images.githubusercontent.com/4256979/172438049-c81c9ec6-f67a-40a8-839b-bbcdb0a3a41a.png)

This error is stating "you don't have access to the layers in the project map" even though we are certain we do and did not make any recent cha

[2022-06-07 16:53] pjdohertygis commented on #220
Just in case it is helpful, here is what our json editor looks like - any immediate issues?

![image](https://user-images.githubusercontent.com/4256979/172439070-9ce50b46-0040-4c71-8359-7a62a0208488.png)

[2022-06-07 17:11] IsmaelInRedlands commented on #220
Hi Paul. Definitively, this issue is caused by the latest update. By design, this warning should only appear if the web map uses layers for which the author does not have access. I setup a call later today with you. Hope you can make it, so we can debug this though screen-sharing.

[2022-06-07 17:11] xiao8579 commented on #220
Hi @pjdohertygis This error indicates that you (as the project author) currently don't have access to the feature layers that are used in the project map. Can you check if the layers have also been shared with the project author, as well as the target field users?

[2022-06-07 17:15] pjdohertygis commented on #220
Yes indeed, sharing is all set up correctly. Furthermore, this is happening across EVERY single QuickCapture project I own where a web map is used. @xiao8579 @IsmaelInRedlands

Things I have tried so far:

- Project author signing in, they receive the same error, even if they own the web map as well
- Cleared cookies / browser history
- Changing the map to a generic base map (this makes the error

[2022-06-07 17:29] IsmaelInRedlands commented on #220
Yeap. I can repro on my own too. Researching. Looks like a bug.
Please log a Tech Support issue if you do not mind while we work on resolution.

[2022-06-07 20:42] pjdohertygis commented on #220
Met with Esri QC Team - they think they've identified the issue as being related to grouped layers in web maps. Potential hotfix will be available later this week and will update here.

[2022-06-08 19:44] xiao8579 commented on #220
This issue has been fixed and can be verified now on the beta website https://qaext.arcgis.com/apps/quickcapture, let me know how it works on your end.

[2022-06-10 20:46] pjdohertygis commented on #220
@xiao8579 please post back here when the hotfix is in production - thank you for all of your help!!!

[2022-06-10 20:58] xiao8579 commented on #220
Hi @pjdohertygis The fixes are on production now. https://www.arcgis.com/apps/quickcapture/

[2022-06-10 21:44] pjdohertygis commented on #220
Confirmed and thank you Team!!!

[2022-06-15 02:39] JohnHasthorpe commented on #201
This will be fixed in 1.15 with the runtime update to 100.14

[2022-06-15 13:23] #201 closed

[2022-06-17 12:58] pjdohertygis commented on #220
We are still seeing some issues - this time not caused by grouping layers - but with mixed content sharing. @xiao8579  I'll post more screenshots for our US&R Workflow, but here is a simple one for testing.

@avezina and I test QuickCapture MMPK workflows when we go on hikes 🤓 . In this scenario I've created a MMPK in the napsg.maps.arcgis.com envirornment and shared it into a group hosted by http

[2022-06-21 03:04] JohnHasthorpe commented on #216
1.15.54 has been uploaded to testflight - once approved here is a test project:

Multiple points:
![image](https://user-images.githubusercontent.com/24929507/174707640-c57ab775-744b-426a-a5d3-8d5a6994d76d.png)

Please provide feedback on the workflow and user experience.
@pjdohertygis

[2022-06-22 02:10] pjdohertygis commented on #216
It looks like it just updated on TestFlight, I'll test this first thing tomorrow AM. Do have an .apk for Android yet? @JohnHasthorpe

[2022-06-22 03:14] JohnHasthorpe commented on #216
Android on EAC now too

[2022-06-22 12:11] JohnHasthorpe commented on #218
This is fixed in 1.15

[2022-06-22 12:12] JohnHasthorpe commented on #215
This is implemented in 1.15

[2022-06-22 12:36] JohnHasthorpe commented on #165
@pjdohertygis - This should no longer be an issue in 1.14 store build

[2022-06-22 12:37] JohnHasthorpe commented on #131
@pjdohertygis is this still an issue for you?

[2022-06-22 13:32] pjdohertygis commented on #216
Ok for creating polygons I found this super intuitive and easy. Nice job with the UI/UX.

So far we don't have any polygon editing needs in QuickCapture although potentially someone could be draw a search segment in the field quite easily with this new functionality. The problem is, I could see them wanting to go back and edit the segment or at least click on the pop-up at a later time. Without th

[2022-06-22 13:34] pjdohertygis commented on #131
I have not seen it with any devices I test.

@jdokemaps @afackler how about on your Androids?

[2022-06-22 13:35] pjdohertygis commented on #165
Confirmed this is implemented and working well now - thank you!

[2022-06-22 13:38] pjdohertygis commented on #200
This appears to be fixed (although I am currently testing v1.15, I think it was fixed in v1.14). Thank you!

[2022-06-22 13:38] #200 closed

[2022-06-22 13:42] pjdohertygis commented on #215
@JohnHasthorpe  I was so excited to hear this, I just checked in QA but still see this? Is there a json hack for it? Or do I just have to be patient and wait for holistic testing?

![image](https://user-images.githubusercontent.com/4256979/175043667-03eb8e3a-6e07-4abb-94de-d40381e9452e.png)

[2022-06-22 13:43] pjdohertygis commented on #218
Awesome - @jdokemaps or @afackler can you confirm (you may need to download the apk from EAC)?

[2022-06-22 23:55] JohnHasthorpe commented on #216
@pjdohertygis - try this project:
![image](https://user-images.githubusercontent.com/24929507/175179525-d1e96aa1-0ca9-42d1-94e6-4fa822826e8d.png)

[2022-06-23 00:42] JohnHasthorpe commented on #215
You can test here: https://devext.arcgis.com/apps/quickcapture (sharing/ago.test for the splash screen)
With the test flight build

[2022-06-23 00:44] JohnHasthorpe commented on #218
Yes, grab the latest build on EAC 1.15.XX for Android

[2022-06-23 01:06] JohnHasthorpe commented on #216
This is the default map scale used when the map is opened. It is the same one used if you were to open the project and then the map. Once the user zooms in, that scale will be remembered/used across all map workflows. We don't have an editing scale and a general map scale. Does this work for you?

[2022-06-23 04:33] pjdohertygis commented on #216
![image](https://user-images.githubusercontent.com/4256979/175209636-58c2c2e9-af08-44f3-8c02-3c18b481dc21.png)

Yes! Rapid fire mapping of waypoints for areas with the same level of damage. Very slick and easy to use.

[2022-06-23 04:44] pjdohertygis commented on #215
@JohnHasthorpe - it looks like our QuickCapture Project isn't working well in the devext environment. Notice the data fields are missing in devext, but not in qaext or production.

Dev
https://devext.arcgis.com/apps/quickcapture/project/7ca4485d28d048b58b5741e7c51a3c71/design
![image](https://user-images.githubusercontent.com/4256979/175210710-da1e930c-35e1-4538-9ab7-d1b8f34a6ed3.png)
QA
https://q

[2022-06-23 05:03] JohnHasthorpe commented on #215
Yes, spotted that and have reported it to the devs. I'll let you know when this is resolved.

[2022-06-23 15:53] pjdohertygis opened #221 "QuickCapture: Drop-downs for Project User Input are not cached?"
In our QuickCapture projects, the first project user input does not cache the answer. Is this by design?
https://arcg.is/14fK4

![image](https://user-images.githubusercontent.com/4256979/175341598-368ee629-c728-4d0f-942e-64f296378351.png)

Is this something that won't work for dropdowns? For a long list this can be cumbersome.

[2022-06-23 15:55] pjdohertygis opened #222 "[BUG] QuickCapture: To add a project, for some users the + sign is not showing up?"
I will try to get device and app version details, but it was about 15 people in the course that I am in today.

[2022-06-23 16:08] pjdohertygis commented on #177
We had about 10 people in our Plans Course today ask for pop-ups in the QuickCapture map. Is that coming?

[2022-06-23 17:40] IsmaelInRedlands commented on #177
https://github.com/pjdohertygis/WideAreaSearchTemplates/issues/177#issuecomment-1164604831

[2022-06-23 18:01] pjdohertygis commented on #177
Ok understood - I know there are a lot of enhancements in the works and this relies on other teams (Runtime?) to implement. I'll be with a few US&R Field users at EsriUC if anyone wants to show them potential designs. Definitely a highly requested enhancement.

[2022-06-24 00:28] JohnHasthorpe commented on #222
@pjdohertygis

If this happens, go into settings=>press and hold the about button for 5 seconds=>Settings=>Show console (switch on)
This will reveal an orange button/floating UI
Press it and go to the Systems tab. This should provide useful information.

The issue happens if the app thinks the device is not connected to the portal.

[2022-06-24 00:30] IsmaelInRedlands commented on #221
The issue is dropdowns.  The current design is for QuickCapture **not** to auto-populate the input. Instead QuickCapture simply provides a list of values previously entered so you can quickly tap on any of them to save you from manually typing again.
With lists, we do not show a list of previous entries because the list is already there so you can also just tap on the choice.
Hope this makes sense

[2022-06-24 01:33] #221 closed

[2022-06-24 02:09] JohnHasthorpe commented on #215
devext is updated and issue fixed @pjdohertygis

[2022-06-24 12:45] pjdohertygis commented on #222
Ok will try to catch this next time!

[2022-06-24 12:46] pjdohertygis commented on #220
Ok after troubleshooting, we *think* the final issues have been resolved and was caused by a browser cache issue. Thank you @xiao8579 for all of the support.

[2022-06-24 12:46] #220 closed

[2022-06-24 13:04] pjdohertygis commented on #215
Confirming this works in config and in application.

SBX/Tracker d14d9a QuickCapture https://arcg.is/8WvSD0

Config
https://devext.arcgis.com/apps/quickcapture/project/4e17b78790fc4120beced44addd14d9a/design
- Choose Victim Confirmed
- Currently the Button User Input is # of people
![image](https://user-images.githubusercontent.com/4256979/175540828-afc723c1-7d23-4334-ae24-174df87d10a7.png)
- I am

[2022-06-26 01:56] pjdohertygis opened #223 "QuickCapture 1.15.34 can't click SKIP"
On this project, which I've made some configuration in dev, I cannot click the SKIP button for photos.

Occasionally, I get asked the same button user input question 2x as well.

Project https://arcg.is/1TPfOy

https://user-images.githubusercontent.com/4256979/175796107-347fde4d-986e-4545-bb1d-68e9dae8017d.MOV

@IsmaelInRedlands @xiao8579

[2022-06-27 00:47] JohnHasthorpe commented on #223
@pjdohertygis - We have a fix for the first issue. Please wait for the next Testflight update.

[2022-07-05 18:26] pjdohertygis opened #224 "QuickCapture v1.15 Holistic Testing"
Preferably, use your personal device vs task force devices because this will install beta software. If you do install on a task force device, setup a reminder to revert back to the app store version to reduce confusion when the software updates.

Install QuickCapture v1.15.54
Android APK https://earlyadopter.esri.com/download/2557f6723f4e46bc8a36fb5d7212241c/ArcGISQuickCaptureBeta_arm64_1_15_54.ap

[2022-07-05 18:35] pjdohertygis commented on #224
Issue with camera button - cross-reference comment here https://github.com/xiao8579/QuickCapture-Testing/issues/73#issuecomment-1175370585

[2022-07-05 21:51] pjdohertygis commented on #224
Paul testing on iPhone 11 ios 15.5

I also experience a lag when opening and attempting to scroll the project user input for Team Name (which is a choice list created in production 15.4). The only way around it is to start typing. We did not see this with 15.4.

1. **Map Sketch of points** - Overall, this was easy to setup an use.
- It is not immediately clear how to pan / zoom the map. The hand i

[2022-07-05 21:58] pjdohertygis commented on #224
issue with using domains as project user input - see cross reference here https://github.com/xiao8579/QuickCapture-Testing/issues/72#issuecomment-1175362376

[2022-07-06 03:46] pjdohertygis commented on #224
Device variables not coming through with sketch https://github.com/xiao8579/QuickCapture-Testing/issues/73

[2022-07-10 00:51] pjdohertygis opened #225 "QuickCapture: v1.15 Project User Input list won't scroll / frozen"
@xiao8579 ill look for you and John at UC, but seeing an issue with v1.15 that won't let us scroll (so far on iPhone, haven't tested Android yet)

Try it with this project https://arcg.is/01aruG ![image](https://user-images.githubusercontent.com/4256979/178127210-a9cb6cea-cd40-4812-ba27-aa37252e5744.png)

[2022-07-11 15:34] xiao8579 commented on #225
Hi @pjdohertygis We've noticed the issue and have addressed it in a newer 1.15 build, wait to download a newer build from Testflight. See you around at the UC!

[2022-07-13 14:40] pjdohertygis opened #226 "QuickCapture: v1.14 issues with Pixel 3L"
"One of my guys reported to me that he was having QuickCapture freeze/lock-up on him today." - Steve from SC-TF4

Phone: Pixel 3XL

Android ver: 12

QC ver.: 1.14.71

[2022-07-13 14:47] pjdohertygis commented on #226
He was in the sandbox working through the 2022 Tabletop. I forgot to check which update he was on for the project.

To my knowledge he has not had issues with the SARCOP in the past. If I recall he was a field collector during our Allendale deployment and I know he has used the sandbox for collecting during our Feb 2022 ORE.

He was doing a track log and marking points.

His phone froze twice duri

[2022-07-15 19:17] pjdohertygis opened #227 "QuickCapture: Drop shadow symbology on points - map won't load."
I'll try to get more details later but looks like they fixed the firefly effect issue https://github.com/pjdohertygis/WideAreaSearchTemplates/issues/201, but drop shadow keeps the map from loading (the map does load in Field Maps with drop shadow). I changed it back for now. @xiao8579

[2022-07-16 15:20] pjdohertygis commented on #208
Another for FL-TF1 - Android 10.0 - will get more details on environment, but looks like running QuickCapture while near the command post with wifi.

![image](https://user-images.githubusercontent.com/4256979/179361106-5390a77b-e64f-4a3b-9cf0-eb8242652484.png)

[2022-07-17 18:48] pjdohertygis commented on #208
![image](https://user-images.githubusercontent.com/4256979/179420361-1a3815a0-d83d-45d1-9c07-72fd9d34c563.jpeg)

Here are some tracks from @avezina from the Thursday night party at UC. She thinks she was on cell network but had Wifi on (not intentionally).

iPhone 13 mini, latest iOS 15.5, QuickCapture v1.14.71, using her own project

[2022-07-18 17:24] pjdohertygis commented on #208
We are going to recommend Android users take these steps to only use GPS on their devices https://tunecomp.net/force-android-to-use-only-gps-to-estimate-the-location/ and go on airplane mode for iOS (or at least turn off WiFi) to see if it fixes the issue.

[2022-07-18 22:05] pjdohertygis commented on #225
Testing this in 1.15.68 now ![image](https://user-images.githubusercontent.com/4256979/179625270-355fdc99-173f-4b1a-ac05-6ae03511b098.png)

[2022-07-18 22:06] pjdohertygis commented on #225
Appears to be fixed in 1.15.68 @xiao8579

[2022-07-19 20:18] xiao8579 commented on #227
I've created an issue for this in our backlog

[2022-07-19 20:52] pjdohertygis commented on #227
Thanks @xiao8579 not a deal breaker for us, but figured you'd want to know

[2022-07-22 17:55] pjdohertygis opened #228 "QuickCapture: Partial login issue with public project, can collect but not send data"
When a user uses our "Sandbox" QuickCapture project (shared with Everyone via Hub), they occasionally will hit an issue where they can collect data with QuickCapture but cannot send the data. The end user will go to the map page, click Send, but there is simply no response or message. It just shows that there is data that needs to be sent.

**The only way to fix this is to know that you need to cl

[2022-07-22 17:57] pjdohertygis commented on #228
Here is what I saw yesterday - I didn't know what the problem was so did not video the solution - only figured it out afterwards. ![image](https://user-images.githubusercontent.com/4256979/180496923-e3b78c47-c300-4e9d-bd73-7a8af9504696.jpeg)

[2022-07-22 18:27] xiao8579 commented on #228
@pjdohertygis This could just be a network time-out issue, or user's token expiration. Can you try sending via a good network connection? Or try sign out and sign in again to send? (captured data will not be discarded if you sign out).

[2022-07-22 18:59] pjdohertygis commented on #228
Yes I think that may be the cause @xiao8579 - some sort of token timeout. However, the project and services are public so it is an odd behavior. It seems to only happen to those that were at some point signed in. Going to the profile and signing in fixed it. But because the SEND button just doesn't even respond to the tapping, the end user is left confused.

[2022-07-22 19:12] xiao8579 commented on #228
The app should have displayed a red dot indicator on the user's profile pane to suggest signing in again to refresh the token. This is our current solution in case of token expiration on the app.

[2022-07-26 16:54] pjdohertygis opened #229 "QuickCapture Beta 1.15.93 - Button user input (comment) Done button not working?"
I am seeing an issue where the DONE button is somehow stuck or frozen.

![image](https://user-images.githubusercontent.com/4256979/181065323-ac90e5dd-1f68-4307-9688-3efda4467686.jpeg)

![image](https://user-images.githubusercontent.com/4256979/181065348-e1b22557-1999-41e3-b566-f113857d622c.png)

@xiao8579

In the middle of an exercise will revert back to production.

[2022-07-26 17:02] pjdohertygis commented on #229
Confirmed rolling back on the mobile app to v1.14.71 allows me to get to map input screen, but then cannot send data???
![image](https://user-images.githubusercontent.com/4256979/181066738-238e9068-4bf4-4c0e-81cb-a209aab3231b.png)

This project was edited in dev. I may save over it in production ArcGIS.com and see if it fixes it.

[2022-07-28 04:38] JohnHasthorpe commented on #228
In 1.15.95 the following error message will display each time a project is opened.
![image](https://user-images.githubusercontent.com/24929507/181421156-7a2a0500-ffbd-4130-aeee-4a21ae1df928.png)
Does that work for you @pjdohertygis?

[2022-07-28 04:41] JohnHasthorpe commented on #229
@pjdohertygis - The DONE button issue should be resolved in 1.15.95

[2022-08-16 21:01] pjdohertygis opened #230 "QuickCapture: Phone Number device variable"
I think I know the answer to this but... is there a way to extract the phone number from a device as a QuickCapture variable?

[2022-08-16 21:05] pjdohertygis opened #231 "QuickCapture - Map Feature Request"
Users want to be able to change the basemap, toggle between imagery and OSM.

[2022-08-16 21:06] pjdohertygis opened #232 "QuickCapture - Map Feature Request - Search an Address or Coordinate"
A common request is to be able to search for an address on the map in QuickCapture.

[2022-08-16 21:11] IsmaelInRedlands commented on #230
The ArcGIS Online profile info does not include the phone number, so we can't easily do this through a variable. We would need to somehow do a lookup search against say a feature layer.
We could use an Arcade expression for that (we are exploring the use of Arcade expressions within a variable), or a webhook.
I am hoping Arcade may give us a good framework this type of lookup search.

[2022-08-16 21:46] IsmaelInRedlands commented on #215
Per discussion August 16, 2022:  We display the button user inputs in the same order you added them into the project. If not happy with the order, delete them and add them again.

[2022-08-22 23:40] pjdohertygis opened #233 "QuickCapture: Crash when running in the background when map is open"
TX-TF1 reporting multiple crashes using our Deployment Project with map open running in the background. I'll try to get an Esri Support ticket open but they're responding to an active incident.

I've seen this from time to time and am wondering if it is something in our web map (refresh? token expiring on interorg data?).

Anything we can do to document the crash other than send the email?

[2022-08-25 15:00] pjdohertygis commented on #228
@xiao8579 @IsmaelInRedlands  any idea how often tokens will expire? We just had a bunch of people get a notice that they're logged out but with no rhyme or reason. They thought maybe it was because we made a minor update to the project but I am guessing the tokens are just on some sort of timer?

[2022-08-25 23:59] JohnHasthorpe commented on #228
@pjdohertygis:
- Access tokens - expire every 30 minutes
- Refresh tokens - expire every 2 weeks

The app will try to keep the refresh token alive by getting a new refresh token on opening the app.
This is the only time that the app will show the orange dot.

Does this sound consistent with what you are seeing? The other thing to check is whether the users are sharing a login.
This could result in

[2022-08-26 02:17] pjdohertygis commented on #228
2 weeks makes sense with what we saw a few months ago in CO-TF1 training. But this newer issue almost seems like it is related to the 30 minute refresh token...I'll try to get more details and sent an email to the QuickCapture email.

[2022-09-15 21:54] pjdohertygis commented on #208
Of late we think most of the spiking issues are caused by the Android "High accuracy" setting.
![image](https://user-images.githubusercontent.com/4256979/190515611-4a80c945-58ae-47c4-8acd-749303b2977e.png)

I decided to ask the TAK tribe how they deal with this...

![image](https://user-images.githubusercontent.com/4256979/190515391-b09b73d5-2c97-4ebc-b640-3acc296b26af.png)

If this is going to co

[2022-09-22 21:05] pjdohertygis commented on #208
More spiking today in Puerto Rico @JohnHasthorpe

![image](https://user-images.githubusercontent.com/4256979/191850778-a0bfec62-dcda-40f4-9255-0996b1de16e8.png)
![image](https://user-images.githubusercontent.com/4256979/191850861-95a01325-41b8-4fdc-9d4b-5afd9587fd4f.png)

I've instructed them to...
1) Check to make sure "high accuracy location" is off.
2) Check to make sure QuickCapture has access

[2022-10-03 01:33] JohnHasthorpe commented on #208
@pjdohertygis - This is interesting. Unfortunately, I don't think we can check for **high accuracy** on Android.
We do check for battery saving on Android, to make sure it is switched off as this can cause issues.
On iOS, it looks like precise location is required.

Please let us know if your steps above (disable high accuracy location) help in the field.

[2022-10-03 14:09] pjdohertygis commented on #208
Here is another strange one

![image](https://user-images.githubusercontent.com/4256979/193598526-39e4e8c1-5cf2-4bd4-b589-0215f3eef419.png)

[2022-10-03 14:14] pjdohertygis commented on #208
And this one..

![image](https://user-images.githubusercontent.com/4256979/193599488-48485358-528a-49d3-91f4-77ae18dc00f3.png)

[2022-10-04 13:28] pjdohertygis commented on #208
![image](https://user-images.githubusercontent.com/4256979/193831515-e88d98c5-e9c7-4eca-b667-5c5be52bc619.png)
![image](https://user-images.githubusercontent.com/4256979/193831811-43fead88-11b5-46c3-87be-9fe200b7a12a.png)

Another interesting bounce

[2022-10-04 19:09] pjdohertygis commented on #208
MA-TF1 spike goes back to their BoO in MA? Tactical wifi issue?
![image](https://user-images.githubusercontent.com/4256979/193905231-f77f4c90-2275-47b6-b347-b2158d2860b6.png)

[2022-10-10 05:24] JohnHasthorpe commented on #208
Notes from field maps:

@pjdohertygis - what do you think?

[2022-10-10 14:12] avezina commented on #208
@JohnHasthorpe Wondering if perhaps there could be some logic built in based on the accuracy threshold for sudden jumps outside of that threshold (I'd expect these points to be ignored)? Assuming someone cannot be in two distant places at the same time.

[2022-10-10 14:15] avezina commented on #208
@JohnHasthorpe oohh just saw this https://github.com/pjdohertygis/WideAreaSearchTemplates/issues/208#issuecomment-1070672364, seems like that's an option already?

[2022-10-11 07:49] pjdohertygis commented on #208
John - from here in Florida post Hurricane Ian, this is the worst spiking ever seen. Mostly looks to be devices on AT&T/FirstNet using temporary cell infrastructure. Is there any way QuickCapture could have a built in software that says “the past x vertices were y meters apart - this new vertex is more than an order of magnitude further away - reject it.” Or something like that? I feel Garmin GPS

[2022-10-28 16:58] pjdohertygis commented on #208
@JohnHasthorpe  here is a good example with both iPhone and Android
![image](https://user-images.githubusercontent.com/4256979/198691716-514d16f2-2279-4d93-9c53-50737d60e027.png)

Link: https://arcg.is/1fDPPy

I am guessing the Android is using high accuracy and iPhone is just picking up a bad network location while inside.

[2022-10-31 14:36] pjdohertygis commented on #208
1030 - Hunting Trip - iPhone, forgot to go on airplane mode when leaving the top of the hill. Then when turned on airplane mode it corrected itself. I'll delete the extraneous track but wanted to document here.

![image](https://user-images.githubusercontent.com/4256979/199033475-baab8b93-d0fa-4f27-be1b-5014971a4d14.png)

![image](https://user-images.githubusercontent.com/4256979/199033794-87e26fa